[Desktop Entry]
Categories=
Comment=A time tracking app
Comment[de]=Zeitaufzeichnungsprogramm
Exec=/opt/kdepimpi/ktpi
GenericName=
GenericName[de]=
Icon=/opt/kdepimpi/kdepim/ktimetracker.png
MimeType=
Name=KTimeTacker/Pi
Name[de]=KTimeTacker/Pi
ServiceTypes=Application
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=/opt/kdepimpi/ktpi
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
