[Desktop Entry]
Categories=
Comment=Password manager
Comment[de]=Password Manager
Exec=/opt/kdepimpi/pwmpi
GenericName=
GenericName[de]=
Icon=/opt/kdepimpi/kdepim//pwmanager/pwmanager.png
MimeType=
Name=PasswordManager/Pi
Name[de]=PasswordManager/Pi
ServiceTypes=Application
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=/opt/kdepimpi/pwmpi
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
